---
import LayoutMD from "../layouts/LayoutMD.astro";
import "../styles/md.css";

const { id } = Astro.params;

const pages = import.meta.glob("../pages/problemas/*.md");

const entry = Object.entries(pages).find(([path]) =>
  path.includes(`${id}.md`)
);

if (!entry) {
  return Astro.redirect("/404");
}

const module: any = await entry[1](); // 👈 casteamos a `any` para acceder sin error TS
const { Content } = module;
const fm = module.frontmatter || {}; // 👈 aseguramos que exista
---

<LayoutMD>
  <main class="w-11/12 lg:w-5/6 xl:w-9/12 mt-16 bg-slate-50 dark:bg-slate-950 border-2 border-slate-700 rounded-sm mx-auto py-4 px-8 mb-24">
    <h1 class="text-2xl font-bold mb-4">{fm.title}</h1>
    <p class="text-gray-600 dark:text-gray-400 mb-6">{fm.description}</p>

    {Content ? <Content /> : <p class="text-red-600 font-bold">Problema no encontrado</p>}
  </main>

</LayoutMD>

<script>
  document.addEventListener("astro:page-load", () => {
    // Cargar cuando se cambia de página
    createCopyButton();
  });
  // Cargar la primera vez que se ingresa a la pagina
  createCopyButton();

  function createCopyButton() {
    document.querySelectorAll("pre").forEach((pre, index) => {
      // Crear el contenedor relativo
      const wrapper = document.createElement("div");
      wrapper.className = "relative";

      // Crear botón
      const btn = document.createElement("button");
      btn.textContent = "Copiar";
      btn.className =
        "absolute top-2 right-2 px-2 py-1 text-xs border rounded transition-all bg-slate-100 hover:bg-slate-200 border-slate-300 hover:border-slate-400 text-slate-800 dark:bg-slate-700 dark:hover:bg-slate-600 dark:border-slate-600 dark:hover:border-slate-500 dark:text-slate-100 select-none";

      // Copiar texto del <pre>
      btn.addEventListener("click", () => {
        const text = pre.innerText;
        navigator.clipboard.writeText(text).then(() => {
          btn.textContent = "Copiado!";
          setTimeout(() => (btn.textContent = "Copiar"), 1500);
        });
      });

      // Insertar
      pre.parentNode.insertBefore(wrapper, pre);
      wrapper.appendChild(pre);
      wrapper.appendChild(btn);
    });
  }
</script>
