---
import Layout from "../layouts/Layout.astro";
import NavTables from "../components/NavTables.astro";
import FeaturedPrograms from "../components/FeaturedPrograms.astro";
import UploadProgram from "../components/UploadProgram.astro";
import Alert from "../components/Alert.astro";
import SuccessAlert from "../components/SuccessAlert.astro";
import CommentsSection from "../components/CommentsSection.astro";
import FeedBack from "../components/FeedBack.astro";
---

<Layout title="Soft-Share">
  <div>
    <h1>Lo siento!!</h1>
    <p>Por el momento la página está en mantenimiento, agradezco tu paciencia.</p>
    <span>👷⚒️</span>
  </div>
    <!-- <h1>Soft-Share</h1>
    <p class="presentation">
      Encuentra una variedad de herramientas informáticas, desde aplicaciones
      completas hasta scripts útiles. <font color="008f39">Comparte</font> tus propios
      programas con la comunidad y vota por los mejores. Aprovecha una plataforma
      colaborativa para <font color="094293">explorar</font> , <font
        color="a65e2e">obtener</font
      > y
      <font color="4b0082">contribuir</font> tus <span
        >recursos informáticos.</span
      >
    </p>
    <NavTables />
    <FeaturedPrograms />
    <UploadProgram />
    <FeedBack />
    <CommentsSection /> -->
  </main>

  <style>
    /* mantemiento */


    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 200px;
    }

    span {
      font-size: 9rem;
    }




    body {
      padding-bottom: 100px;
    }

    main {
      width: 70%;
      display: flex;
      flex-direction: column;
    }

    span {
      font-weight: 500;
    }

    p.presentation {
      text-align: center;
      backdrop-filter: blur(1px);
    }
  </style>
</Layout>
