---
import Layout from "../layouts/Layout.astro";
import FeaturedPrograms from "../components/FeaturedPrograms.astro";
import UploadProgram from "../components/UploadProgram.astro";
// import Alert from "../components/Alert.astro";
// import SuccessAlert from "../components/SuccessAlert.astro";
import CommentsSection from "../components/CommentsSection.astro";
import FeedBack from "../components/NewComment.astro";
import NavButtons from "../components/NavButtons.astro";

// JS
---

<Layout title="Soft-Share - Repositorio de tus Programas">
  <main class="w-11/12 lg:w-9/12">
    <h1 class="font-bold mt-2 pb-0 text-5xl lg:text-7xl">Soft-Share</h1>
    <p class="presentation leading-6 mt-2 pt-0 text-base lg:text-[19px]" style="line-height: 1.5rem">
      Encuentra una variedad de herramientas informáticas, desde aplicaciones
      completas hasta scripts útiles. <font color="008f39">Comparte</font> tus propios
      programas con la comunidad y vota por los mejores. Aprovecha una plataforma
      colaborativa para <font color="094293">explorar</font> , <font
        color="a65e2e">obtener</font
      > y
      <font color="4b0082">contribuir</font> tus <span
        >recursos informáticos.</span
      >
    </p>
    <NavButtons />
    <FeaturedPrograms />
    <UploadProgram />
    <FeedBack />
    <CommentsSection />
    <!-- <Alert />
    <SuccessAlert /> -->
  </main>

  <style>
    body {
      padding-bottom: 100px;
    }

    main {
      display: flex;
      flex-direction: column;
    }

    span {
      font-weight: 500;
    }

    p.presentation {
      text-align: center;
      backdrop-filter: blur(1px);
    }
  </style>

</Layout>

<script type="module">
  
  import LoadPrograms from "../js/rendererAllPrograms.js";

  // Everty time the page is reload, load all programs
  LoadPrograms();

</script>