---
import Layout from "../layouts/Layout.astro";
import NavTables from "../components/NavTables.astro";
import FeaturedPrograms from "../components/FeaturedPrograms.astro";
import UploadProgram from "../components/UploadProgram.astro";
import Alert from "../components/Alert.astro";
import SuccessAlert from "../components/SuccessAlert.astro";
---

<Layout title="Soft-Share">
  <Alert/>
  <SuccessAlert/>
  
  <main>
    <h1>Soft-Share</h1>
    <p class="presentation">
      Encuentra una variedad de herramientas informáticas, desde aplicaciones
      completas hasta scripts útiles. Comparte tus propios programas con la
      comunidad y vota por los mejores. Aprovecha una plataforma colaborativa
      para explorar, contribuir y mejorar tus recursos informáticos.
    </p>
    <NavTables />
		<FeaturedPrograms />
		<UploadProgram />
  </main>

  <style>
    main {
      width: 70%;
      display: flex;
      flex-direction: column;
    }

    span {
      color: var(--text-gray-color);
    }

    p.presentation {
      text-align: center;
    }

    div.hola {
      height: 200px;
    }
  </style>
</Layout>
