---
import Layout from "../layouts/Layout.astro";
import ProblemaCard from "../components/ProblemaCard.astro";
import { problemas } from '../pages/problemas/problems';
---

<Layout title="Problemas & Soluciones">
  <main class="w-10/12 max-w-4xl mx-auto mt-6">
    <h1
      class="font-bold pb-4 text-4xl lg:text-5xl bg-gradient-to-r dark:from-slate-100 dark:to-slate-400 from-slate-950 to-slate-500 text-transparent bg-clip-text text-center"
    >
      PROBLEMAS & SOLUCIONES
    </h1>

    <ul class="space-y-3">
      {problemas.map(problema => (
        <ProblemaCard
          key={problema.id}
          titulo={problema.titulo}
          descripcion={problema.descripcion}
        />
      ))}
    </ul>
  </main>
</Layout>
