---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Subir Archivos Guía"> 
  <main>
    <h1>hola gente</h1>
  </main>
</Layout>
<style>
  main {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  span {
    color: var(--text-gray-color);
  }

  p.presentation {
    text-align: center;
  }

  div.hola {
    height: 200px;
  }
</style>
