<button id="alternarModo"
  class="px-5 py-2 font-bold text-black dark:text-white border-1 border-white shadow-lg"
>
  Alternar modo
</button>

<script>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  document.documentElement.classList.toggle(
    "dark",
    localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
  );

  document.querySelector("#alternarModo").addEventListener("click", () => {
  if (localStorage.theme === "light") {
    localStorage.theme = "dark";
    document.documentElement.classList.add("dark");
  } else {
    localStorage.theme = "light";
    document.documentElement.classList.remove("dark");
  }
});

</script>
