<article class="z-10 hidden sm:block">
  <a
    class="help pt-3 fixed text-xl lg:text-2xl"
    target="_blank"
    href="https://n4chos-organization.gitbook.io/soft-share"
    >Ayuda & Documentación 📑</a
  >

  <button
    id="boton-mostrar-controles"
    class="fixed px-2 py-1 bg-slate-400/20 dark:text-[var(--reverse)] font-bold rounded-lg"
    >Ver Atajos</button
  >

  <form method="dialog">
    <button id="ocultar-controles" class="hidden"></button>
  </form>
  <dialog
  closedby="any"
    id="ver-controles"
    class="z-10 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 origin-center bg-[#fbfbfe] gap-3 w-2/5 place-content-between justify-between font-bold border-2 border-black rounded-lg"
  >
    <div class="contenedor-padre">
      <div>Buscar</div>
      <div class="contenedor-key">
        <kbd>Control</kbd>
        <kbd>Espacio</kbd>
      </div>
    </div>

    <div class="contenedor-padre">
      <div>Recargar todos los programas</div>
      <div class="contenedor-key"><kbd>r</kbd></div>
    </div>

    <div class="contenedor-padre">
      <div>Subir programa</div>
      <div class="contenedor-key"><kbd>s</kbd></div>
    </div>
  </dialog>
</article>

<style>
  #boton-mostrar-controles {
    top: 4rem;
    left: 0.5rem;
    transition: all 0.3s ease;
    align-items: center;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    backdrop-filter: blur(10px);
  }
  #boton-mostrar-controles:hover {
    color: black;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    cursor: pointer;
  }
  a {
    top: 0.5rem;
    left: 0.5rem;
    font-weight: bold;
    padding: 6px 14px;
    border-radius: 6px;
    color: var(--text-color);
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    text-decoration: none;
    backdrop-filter: blur(10px);
  }
  a:hover {
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    cursor: pointer;
  }

  div.contenedor-padre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    border-bottom: solid 1px black;
  }
  div.contenedor-padre:last-child {
    border: none;
  }
  div.contenedor-key {
    display: flex;
    gap: 2px;
  }
  kbd {
    font-size: 0.9em;
    background-color: rgba(13, 189, 27, 0.473);
    border-radius: 8px;
    padding: 0.5rem;
    font-family: inherit;
    line-height: 1;
  }

  html.dark #boton-mostrar-controles {
    color: rgba(255, 255, 255, 0.7);
  }
  html.dark #boton-mostrar-controles:hover {
    color: white;
    box-shadow: 0px 1px 10px 1px rgba(255, 255, 255, 0.1);
  }
  html.dark div.contenedor-padre {
    border-bottom: solid 1px white;
  }
  html.dark kbd {
    color: black;
    background-color: rgba(13, 189, 13, 0.733);
  }
  html.dark div {
    color: var(--text-color);
  }
  html.dark #ver-controles {
    background-color: black;
    border-color: white;
  }
</style>

<script>
  const BOTON_MOSTRAR_CONTROLES = document.getElementById(
    "boton-mostrar-controles"
  );
  const CONTROLES = document.getElementById("ver-controles");
  const BOTON_OCULTAR_CONTROLES = document.getElementById("ocultar-controles");

  BOTON_MOSTRAR_CONTROLES.addEventListener("click", () => {
    if (!CONTROLES.open) CONTROLES.showModal();
  });

  BOTON_OCULTAR_CONTROLES.addEventListener("click", () => {
    CONTROLES.close();
  });
</script>
