<button class="flex" id="reloadButton">Recargar <img src="/assets/reload.svg" alt=""></button>

<style>
  #reloadButton {
    position: fixed;
    top: 60px;
    right: 30px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    transform: rotate(0deg);
  }

  #reloadButton img {
    height: 32px;
  }
</style>
