<nav>
  <a href="#Programs">Programas destacados 👑</a>
  <a href="#AllPrograms">Programas de la Comunidad ❤️</a>
  <a href="#UploadProgram">Subir Programa</a>
</nav>

<style>
  a {
  display: flex;
  align-items: center;
	font-size: 0.9rem;
	font-weight: bold;
  padding: 6px 14px;
  border-radius: 6px;
  color: var(--text-color);
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	transition: box-shadow 0.3s ease;
  text-decoration: none;
	

	&:hover {
		box-shadow: 0px	1px 10px 1px  rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}
	}
	nav {
    margin-top: 3rem;
    margin-bottom: 4rem;
		display: flex;
		justify-content: space-around;
	}
</style>