---
import BotonBuscar from "./BotonBuscar.astro";
import ControlCategorias from "./ControlCategorias.astro";
---

<button id="reloadButton"><img src="reload.svg" alt="" /></button>
<article>
  <header class="flex flex-col gap-y-4 lg:flex-row mb-6">
    <h2
      class="flex items-center font-bold underline underline-offset-[10px] text-1xl lg:text-3xl text-center gap-1"
    >
      Programas destacados <img
        src="/corona.png"
        class="size-10 relative bottom-1"
        alt=""
      />
    </h2>
    <div class="mb-4 lg:mb-0">
      <BotonBuscar />
    </div>
  </header>
  <ControlCategorias />
  <!-- Mostrar Categorías CheckBox -->

  <article
    id="formularioDeProgramas"
    class="contenedor not-loaded flex justify-center items-center"
  >
    <div class="loader"></div>
    <!-- Los programas se cargarán aquí -->
  </article>
</article>

<script type="module">
  import cargarProgramas from "/js/CargarTodosLosProgramas.js";
  import BuscarProgramas from "/js/BuscarProgramas.js";

  // When click "Reload Button" the programs are reaload too
  document
    .getElementById("reloadButton")
    .addEventListener("click", () => cargarProgramas());

  // Escuchar el cambio en el input para realizar la búsqueda sin esperar Enter
  document.querySelector("#input").addEventListener("input", async () => {
    window.ValorDeUsuario = document.querySelector("#input").value;
    console.log("El valor ah cambiado");
    BuscarProgramas(window.ValorDeUsuario, window.categoriasElegidas);
  });
</script>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #reloadButton {
    position: fixed;
    top: 60px;
    right: 30px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    transform: rotate(0deg);
  }

  #reloadButton:hover {
    transform: rotate(90deg);
  }

  #reloadButton img {
    height: 32px;
  }

  .not-loaded {
    min-height: 500px;
    grid-template-columns: 100%;
    justify-items: center;
  }
</style>
