---
import BotonBuscar from "./BotonBuscar.astro";
import ControlCategorias from "./ControlCategorias.astro";
---

<button id="reloadButton"><img src="reload.svg" alt="" /></button>
<article>
  <header class="flex flex-col gap-y-4 lg:flex-row mb-6">
    <h2
      class="font-bold underline underline-offset-[10px] text-1xl lg:text-3xl text-center"
    >
      Programas destacados👑
    </h2>
    <div class="mb-4 lg:mb-0">
      <BotonBuscar />
    </div>
  </header>
  <ControlCategorias />
  <!-- Mostrar Categorías CheckBox -->

  <article id="formularioDeProgramas" class="contenedor">
    <!-- Los programas se cargarán aquí -->
  </article>
</article>

<script>
  import cargarTodosLosProgramas from "../../src/js/CargarTodosLosProgramas.js";
  import BuscarProgramas from "../../src/js/BuscarProgramas.js";

  declare global {
    interface Window {
      ValorDeUsuario: string;
    }
  }

  // When click "Reload Button" the programs are reaload too
  document
    .getElementById("reloadButton")
    .addEventListener("click", () => cargarTodosLosProgramas());

  // Escuchar el cambio en el input para realizar la búsqueda sin esperar Enter
  document.querySelector("#input").addEventListener("input", async () => {
    window.ValorDeUsuario = document.querySelector("#input").value;
    console.log("El valor ah cambiado");
    BuscarProgramas(window.ValorDeUsuario, window.categoriasElegidas);
  });
</script>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #reloadButton {
    position: fixed;
    top: 60px;
    right: 30px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    transform: rotate(0deg);
    background-color: var(--background-color);
  }

  #reloadButton:hover {
    transform: rotate(90deg);
  }

  #reloadButton img {
    height: 32px;
  }
</style>
