---
import BotonBuscar from "./BotonBuscar.astro";
import ControlCategorias from "./ControlCategorias.astro";
import BotonRecargar from "./BotonRecargar.astro";
---

<BotonRecargar />
<article>
  <header class="flex flex-col gap-y-4 lg:flex-row mb-6">
    <h2
      class="flex items-center font-bold underline underline-offset-[10px] text-1xl lg:text-3xl text-center gap-1 dark:text-slate-100"
    >
      Todos los Programas<img
        src="/emojis/rocket.webp"
        class="size-10 relative bottom-1 left-1"
        alt=""
      />
    </h2>
    <div class="mb-4 lg:mb-0">
      <BotonBuscar />
    </div>
  </header>
  <ControlCategorias />
  <!-- Mostrar Categorías CheckBox -->

  <article
    id="formularioDeProgramas"
    class="contenedor not-loaded flex justify-center items-center"
  >
    <div class="loader"></div>
    <!-- Los programas se cargarán aquí -->
  </article>
</article>

<script type="module">
  import cargarProgramas from "/js/CargarTodosLosProgramas.js";
  import BuscarProgramas from "/js/BuscarProgramas.js";

  // When click "Reload Button" the programs are reaload too
  document
    .getElementById("reloadButton")
    .addEventListener("click", () => cargarProgramas());

  // Escuchar el cambio en el input para realizar la búsqueda sin esperar Enter
  document.querySelector("#input").addEventListener("input", async () => {
    window.ValorDeUsuario = document.querySelector("#input").value;
    BuscarProgramas(window.ValorDeUsuario, window.categoriasElegidas);
  });
</script>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .not-loaded {
    min-height: 500px;
    grid-template-columns: 100%;
    justify-items: center;
  }
</style>
