<div class="container">
  <input type="text" placeholder="" id="input" />
  <div class="btn" id="btn">
    <img src="binoculars.svg" alt="Imagen de binoculares" />
  </div>
</div>

<script>
  const btnElement = document.getElementById("btn");

  // Entra el mouse
  btnElement.addEventListener("mouseover", () => {
    const inputElement = document.querySelector("#input") as HTMLInputElement;
    inputElement.classList.add("widthInput");
    inputElement.focus()
    
  });
  //Sale el mouse
  btnElement.addEventListener("mouseout", () => {
    const inputElement = document.querySelector("#input") as HTMLInputElement;
    inputElement.classList.remove("widthInput");
    inputElement.blur()
    inputElement.value = ""
  });
</script>

<style>
  .container {
    display: flex;
  }

  input {
    width: 0px; /* Agregar unidad para ancho */
    margin: 0;
    padding: 0;
    border: 0;
    transition: scale, width 0.5s ease;
    border: none;
    outline: none;
    font-family: 'Geist';
    background-color: var(--background-color);
    font-weight: bold;

    &:placeholder {
      padding: 5px;
    }
  }

  .btn {
    position: ;
    padding: 2px;
    transition: transform 2s ease; /* Cambiado a `transform` */

    /* Aplicar el efecto de hover correctamente */
  }

  /* Corrección para el hover */
  .btn:hover {
    transform: scale(1.3);
  }

  .widthInput {
    transition: width 0.5s ease;
    width: 15em;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    padding-left: 15px;

  }
</style>
