<div class="alert-container" role="alert" id="success-father">
  <svg
    class="icon"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    ></path>
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Mensaje:</span>
    <span id="success-message"></span>
  </div>
</div>

<style>
  #success-father {
    display: none;
  }

  .alert-container {
    display: flex;
    position: fixed;
    bottom: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    padding: 1rem;

    font-size: 0.875rem;
    color: #00c400; 
    border: 1px solid #00c400; 
    border-radius: 0.5rem; 
    background-color: #bebebe; 
  }

  .alert-container .icon {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem; /* margin inline-end (me-3) */
  }

  .alert-container .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .font-medium {
    font-weight: 500;
  }

  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    .alert-container {
      background-color: #1f2937; /* dark:bg-gray-800 */
      color: #f87171; /* dark:text-red-400 */
      color: rgb(4, 206, 4); /* dark:border-red-800 */
    }
  }
</style>
